<div class="form-group">
    <label for="#{dataMap.cmpId}">#{dataMap.labelText}</label>
    <input data-ace-#{dataMap.cmpType}="#{dataMap.cmpId}" class="#{dataMap.classes} form-control" placeholder="#{dataMap.placeholder}" value="#{dataMap.value}" name="#{dataMap.name}" id="#{dataMap.id}" type="#{dataMap.type}">
    <small id="#{dataMap.cmpId}-small" class="form-text text-muted">#{dataMap.smallText}</small>
</div>
