#ace-input-component
    label #{dataMap.labelText}
    <input data-ace-#{dataMap.cmpType}="#{dataMap.cmpId}" placeholder="#{dataMap.placeholder}" value="#{dataMap.value}" name="#{dataMap.name}" id="#{dataMap.id}" type="#{dataMap.type}">
